body {
  margin: 0;
  background: #fafafa;
  color: var(--text);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 580px;
  height: 700px;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #fff;
}

.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.container::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 3px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
